{% extends "tasks/base.html" %}

{% block title %}{{ block.super }} &mdash; {{ task }}{% endblock %}

{% block content %}
  <article class="container">
    <a href="{% url 'website:tasks' %}">&lt; All tasks</a>

    <h1>{{ task }}</h1>

    <section class="row mb-3">
      <p>
        {% if task.description %}
          {{ task.description|linebreaksbr }}
        {% else %}
          <small>No description.</small>
        {% endif %}
      </p>
    </section>

    <section class="row">
      <a
        href="{% url 'website:task_update' pk=task.pk %}"
        class="btn btn-primary btn-block"
      >
        Edit this task
      </a>

      <a
        href="{% url 'website:task_delete' pk=task.pk %}"
        class="btn btn-danger btn-block"
      >
        Delete this task
      </a>
    </section>
  </article>
{% endblock %}
