{% extends "tasks/base.html" %}

{% block content %}
  <article class="container">
    <h1>Tasks</h1>

    <section class="row mb-3">
      {% for task in task_list %}
        {% include "tasks/partials/task_card.html" %}
      {% empty %}
        <p>No open tasks</p>
      {% endfor %}
    </section>

    <section class="row mb">
      <a
        href="{% url 'website:task_create' %}"
        class="btn btn-primary btn-block"
      >
        Add Task
      </a>
    </section>
  </article>
{% endblock %}
