<a href="{{ task.get_absolute_url }}">
  <article
    class="
      card mb-3 mr-3
      {% with task.location.weatherreport_set.current.first.as_color as color %}
        {% if color == "red" %}
          bg-danger
          text-white
        {% elif color == "yellow" %}
          bg-primary
          text-white
        {% elif color == "blue" %}
          bg-info
          text-white
        {% endif %}
      {% endwith %}
    "
    style="width: 20rem;"
  >
    <section class="card-header">{{ task }}</section>
    <section class="card-body">
      <p class="card-text">
        {{ task.description|truncatechars:250|linebreaksbr }}
      </p>
    </section>
  </article>
</a>
